/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* base */
:root {
    --primary-color: #0075c0;
    --primary-color-green: #4ea344;
    --primary-color-orange: #ff7f2c;
    --text-color: #021533;
    --text-white-color: #fff;
    --backg-hover-color: #e3e5e8;
    --content-bacg-color: rgb(244, 245, 248);
    --text-color-blur: #8796a7;
    --table-items-hover-color: #f3f8f8;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 65.5%;
    line-height: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}
/* responsive */
.grid {
    /* width: 1200px; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.row {
    width: 100%;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
    align-items: flex-end;
}

/* menu nav */
.nav-overview {
    /* display: none; */
}
.nav-cash {
    display: none;
}
.nav-banking {
    display: none;
}
.nav-purchase {
    display: none;
}
.nav-sales {
    display: none;
}
.nav-invoice-managing {
    display: none;
}
.nav-inventory {
    display: none;
}
.nav-fixed-assets {
    display: none;
}
.nav-tax {
    display: none;
}
.nav-price {
    display: none;
}
.nav-general {
    display: none;
}
.nav-budget {
    display: none;
}
.nav-report {
    display: none;
}
.nav-finaical-analysis {
    display: none;
}

/* menu content */
.overview {
    /* display: none; */
}
.cash {
    display: none;
}
.cash-first-function {
    display: none;
}
.cash-second-function {
    display: none;
}
.cash-third-function {
    display: none;
}
.cash-fourth-function {
    display: none;
}


.banking {
    display: none;
}
.banking-first-function {
    display: none;
}
.banking-second-function {
    display: none;
}
.banking-third-function {
    display: none;
}



.purchase {
    display: none;
}
.purchase-first-function {
    display: none;
}
.purchase-second-function {
    display: none;
}
.purchase-third-function {
    display: none;
}
.purchase-fourth-function {
    display: none;
}


.sales {
    display: none;
}
.sales-first-function {
    display: none;
}
.sales-second-function {
    display: none;
}
.sales-third-function {
    display: none;
}
.sales-fourth-function {
    display: none;
}

.invoice-managing {
    display: none;
}
.invoice-first-function {
    display: none;
}


.inventory {
    display: none;
}
.inventory-first-function {
    display: none;
}
.inventory-second-function {
    display: none;
}
.inventory-third-function {
    display: none;
}
.inventory-fourth-function {
    display: none;
}



.tool {
    display: none;
}
.fixed-assets {
    display: none;
}
.tax {
    display: none;
}
.price {
    display: none;
}

.general {
    display: none;
}
.general-first-function {
    display: none;
}
.general-second-function {
    display: none;
}
.general-third-function {
    display: none;
}

.budget {
    display: none;
}
.report {
    display: none;
}
.financial-analysis {
    display: none;
}